html { font-size: 62.5%; }

body {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}

header {
  margin-top: 4rem;
}

nav {
  width: 100%;
}

nav > ul {
  width: 500px;
  list-style: none;
  margin: 0 auto;
}

nav > ul > li {
  display: inline-block;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 4rem;
}

nav > ul > li > a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222;
}


nav > ul > li > a.active {
  color: #A6A6AF; }

@media (max-width: 700px) {
  nav > ul {
    width: 100%;
    margin-left: 0%;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    list-style: none;
    margin-bottom: 4rem;
  }
  nav > ul > li {
      display: block;
      border: 0;
      margin: 0rem;
      padding: 0rem;}
  nav > ul > li > a {
      line-height: 1.5rem;
      margin: 0rem;}
}

footer {
  margin-top: 4rem;
  padding-top: 2rem;
  border-top: 1px solid #eee;
  font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; text-align: center; }
h2 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h3 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h4 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h5 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

h1 > img { width: 1em; vertical-align: text-bottom; }

p { margin-top: 0; }

a { text-decoration: none; color: #1EAEDB; }
a:hover { color: #0FA0CE; }

ul { list-style: circle inside; }
ol { list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}
li { margin-bottom: 1rem; }

ul.bibliography {
  list-style-type: none;
  list-style-position: inside;
  text-indent: -17px;
  padding-left: 17px;
  padding-right: 0;
  margin-right: 0;
}

ul.bibliography li {
  margin-bottom: 15px;
  margin-right: 0;
  padding-right: 0;
}

table { margin: 2rem 0 2rem 0; }

th,
td {
  padding: 5px 12px;
  text-align: left;
  vertical-align: top;
}
/*  border-bottom: 1px solid #E1E1E1; } */
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }

code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }
