language: java
sudo: false

env:
  global:
    - RACKET_DIR=~/racket
    - RACKET_URL="https://www.cs.utah.edu/plt/installers/6.4/racket-6.4-x86_64-linux-ubuntu-precise.sh"
    - Z3_URL="https://github.com/emina/rosette/releases/download/v2.0/z3-d89c39cb-x64-ubuntu-12.04.zip"

before_install:
  - if [[ ! -e "$RACKET_DIR/bin/racket" ]]; then
      rm -rf $RACKET_DIR;
      curl -L -o racket.sh $RACKET_URL;
      sh ./racket.sh --in-place --dest $RACKET_DIR;
    else echo "using racket from cache"; fi
  - export PATH="${RACKET_DIR}/bin:${PATH}"
  - wget $Z3_URL -O z3.zip
  - unzip z3.zip
  - mkdir $TRAVIS_BUILD_DIR/bin && mv z3 $TRAVIS_BUILD_DIR/bin/
  - rm z3.zip

install: 
  - raco pkg install

script:
  - raco test 
  - time raco make test/all-rosette-tests.rkt
  - raco test test/all-rosette-tests.rkt
  - time raco make test/all-sdsl-tests.rkt
  - raco test test/all-sdsl-tests.rkt

cache:
  directories:
    - $RACKET_DIR
